<div class="topbar">
  <h2>Employee Dashboard</h2>
</div>

<section class="employee-form">
  <h3>{{ editingId ? 'Edit Employee' : 'Add Employee' }}</h3>

  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <div class="row">
      <label>
        Name
        <input type="text" formControlName="name" placeholder="Employee Name" />
        @if (f['name'].touched && f['name'].invalid) {
          <small class="error">
            @if (f['name'].errors?.['required']) {
              Name is required.
            }
            @if (f['name'].errors?.['minlength']) {
              Name must be at least 3 characters.
            }
          </small>
        }
      </label>

      <label>
        Email
        <input type="email" formControlName="email" placeholder="Employee Name" />
        @if (f['email'].touched && f['email'].invalid) {
          <small class="error">
            @if (f['email'].errors?.['required']) {
              Email is required.
            }
            @if (f['email'].errors?.['email']) {
              Enter a valid email.
            }
          </small>
        }
      </label>

      <label>
        Department
        <select formControlName="department">
          <option value="">-- Select --</option>
          @for (d of departments; track d) {
            <option [value]="d">{{ d }}</option>
          }
        </select>
        @if (f['department'].touched && f['department'].invalid) {
          <small class="error">Department is required.</small>
        }
      </label>

      <label>
        Date of Joining
        <input type="date" formControlName="dateOfJoining" />
        @if (f['dateOfJoining'].touched && f['dateOfJoining'].invalid) {
          <small class="error">
            @if (f['dateOfJoining'].errors?.['required']) {
              Date of joining is required.
            }
            @if (f['dateOfJoining'].errors?.['futureDate']) {
              Date cannot be in the future.
            }
          </small>
        }
      </label>
    </div>

    <div class="form-actions">
      <button type="submit" matTooltip="Add Employee to Employee List" [class]="editingId ? 'Update' : 'Add'">{{ editingId ? 'Update' : 'Add' }}</button>
      <button type="button" matTooltip="Clear Employee Form" [class]="editingId ? 'Cancel' : 'Clear'" (click)="cancel()">{{editingId ? 'Cancel' : 'Clear'}}</button>
    </div>
  </form>
</section>

<section class="controls">
  <input
    type="text"
    placeholder="Search by name or email"
    [formControl]="searchControl"
  />

  <select class="dept-filter" matTooltip="Filter by Department(s)" [formControl]="filterDeptControl">
    <option value="">All Departments</option>
    @for (d of departments; track d) {
      <option [value]="d">{{ d }}</option>
    }
  </select>

  <div class="sorts">
    <button matTooltip="Sort by Employee Name" class="sortbyname" (click)="setSort('name')">
      Sort by Name
      @if (sortField === 'name') {
        {{ sortAsc ? '▲' : '▼' }}
      }
    </button>
    <button matTooltip="Sort by Date of Joining" class="sortbydoj" (click)="setSort('dateOfJoining')">
      Sort by DOJ
      @if (sortField === 'dateOfJoining') {
        {{ sortAsc ? '▲' : '▼' }}
      }
    </button>
    <button matTooltip="Download table in csv format" class="exportcsv" (click)="exportCsv()">Export CSV</button>
  </div>

</section>

<section class="table-wrap">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Date of Joining</th>
        <th>Actions</th>
      </tr>
    </thead>
<tbody>
  @for (emp of filteredEmployees; track emp.id) {
    <tr [class.editing]="editingId === emp.id"
      [class.deleting]="deletingId === emp.id">
      <td>{{ emp.id }}</td>
      <td>{{ emp['name'] }}</td>
      <td>{{ emp['email'] }}</td>
      <td>{{ emp['department'] }}</td>
      <td>{{ emp['dateOfJoining'] }}</td>
      <td class="actions">
        <button matTooltip="Edit Employee details" class="edit" (click)="startEdit(emp)">Edit</button>
        @if(editingId !== emp.id){
          <confirm-modal 
            matTooltip="Delete this Employee"
            modalTitle="Delete Employee"
            modalContent="Are you sure you want to delete this Employee?"
            btnText="Delete"
            btnClass="delete"
            (onClick)="deleting(emp.id)"
            (closeEvt)="delete($event, emp.id)">
          </confirm-modal>
        }
      </td>
    </tr>
  }
  @if (filteredEmployees.length === 0) {
    <tr>
      <td colspan="6" class="empty">No employees found.</td>
    </tr>
  }
</tbody>
  </table>
</section>
